html {
  min-height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  position:relative;
  width:100%;
}

body {
  background-color:#e6e6e6;
  color:#FFF;
  font-weight:100;
  margin:0;
  min-height:100%;
  width:100%;
}

a {
  text-decoration:none;
}

a img {
  border:none;
}

h1 {
  font-size:3.5em;
  font-weight:100;
}

p {
  font-size:1.5em;
}

.left {
  float:left;
}

.right {
  float:right;
}

.btn {
  background-color:#fff;
  border-radius:24px;
  color:#595959;
  display:inline-block;
  font-size:1.4em;
  font-weight:400;
  margin:30px 10px;
  padding:10px 30px;
  text-decoration:none;
}

.btn:hover {
  opacity:0.8;
}

.activeBtn {
    background-color:#c34d4c;
    color:#fff;
}

.activeBtn:hover {
    background-color:#c34d4c;
    color:#fff;
    cursor:pointer;
}

.fixedHeader {
    position: fixed;
    top: 0px;
    background-color: #e6e6e6;
    width: 100%;
}

.mainContent {
    position:relative; 
    margin-top: 105px;
}

.wrap {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  margin:0 auto;
  max-width:1420px;
  overflow:hidden;
  padding:0 50px;
  position:relative;
  width:100%;
}

.wrap:before {
  content:'';
  display:inline-block;
  height:100%;
  margin-right:-0.25em;
  vertical-align:middle;
}

/* header section */
header {
  height:110px;
}

header .wrap {
  height:100%;
}

header .logo {
  margin-top:1px;
  font-size:3.5em;
  font-weight:400;
  color: #C77776;
 /* background: url('../images/logo.png'); */
  background-repeat: no-repeat;
  background-position: bottom;
  /* background-size: 100%; */
  padding-bottom: 35px;
}

header nav {
  float:right;
  margin-top:17px;
}

header nav ul {
  margin:1em 0;
  padding:0;
}

header nav ul li {
  display:block;
  float:left;
  margin-right:20px;
}

header nav ul li a {
  border-radius:24px;
  color:#aaa;
  font-size:1.4em;
  font-weight:400;
  padding:10px 27px;
  text-decoration:none;
}

header nav ul li a.active {
  background-color:#c34d4c;
  color:#fff;
}

header nav ul li a.active:hover {
  background-color:#c34d4c;
  color:#fff;
}

header nav ul li a:hover,header nav ul li a.activeSmall {
  color:#c34d4c;
}

/* footer section */
footer .technologies {
  margin-bottom:10px;
  margin-top:10px;
  text-align:center;
}

footer .technologies a {
    margin: 0px 10px 0px 10px;
}

/* other objects */
.projectSummary {
  color:#fff;
  display:block;
}

.projectSummary:hover {
  opacity: 0.95;
}

.projectSummary .name {
  float:left;
  font-size:3.5em;
  font-weight:100;
  position:absolute;
  width:75%;
}

.projectSummary .description {
  font-size:0.5em;
}

.projectSummary .keywords {
  float:left;
  font-size:0.3em;
  list-style-type: none;
  margin:  20px 0px 0px 0px;
  padding: 0px 10px 0px 10px;
}

.projectSummary .keywords span {
  background-color: #c34d4c;
  border-radius: 10px;
  text-align: center;
  padding: 0px 10px 0px 10px;
  margin: 0px 0px 0px 5px;
}

.projectSummary .img {
  float:right;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 15%;
}

.projectSummary .description p {
  font-size: 1em;
  margin:  0px 0px 0px 0px;
}

.paddRow {
  background-color:#dadada;
  color:#818181;
  display:none;
  padding-bottom:40px;
}
.paddRow.aboutRow {
  background-color: #253042;
  color:#FFF !important;
  display:block;
}

.paddRow.resumeRow {
  background-color: #253042;
  color:#FFF !important;
  display:block;
}

.paddRow .head {
  font-size:4em;
  font-weight:100;
  margin:40px 0;
}

.paddRow .close {
  cursor:pointer;
  position:absolute;
  right:50px;
  top:80px;
  width:38px;
}

.about {
  color:#818181;
}

.about section {
  margin:0 0 10%;
}

.about .head {
  font-size:4em;
  font-weight:100;
  margin:3% 0;
}

.about .subHead {
  font-size:2.5em;
  font-weight:100;
  margin:0 0 3%;
}

.about .txt {
  width:60%;
}

.about .image {
  width:26%;
}

.about .flLeft {
  float:left;
}

.about .flRight {
  float:right;
}

.resume {
  color:#818181;
}

.resume section {
  margin:0 0 5%;
}

.resume .head {
  font-size:4em;
  font-weight:100;
  margin:3% 0;
}

.resume .subHead {
  font-size:2.5em;
  font-weight:bold;
  margin:0 0 3%;
}

.resumeRow .text {
  font-size:2em;
  font-style: italic;
}

.resume .subHead2 {
  font-size:1.5em;
  font-weight:100;
  margin:0 0 3%;
}

.resume .txt {
  width:70%;
}

.resume .image {
  width:15%;
}

.resume .flLeft {
  float:left;
}

.resume .flRight {
  float:right;
}

.resume .description {
  margin: 0.3em;
}

.projectHead .picture {
  margin-bottom:6%;
  margin-top:6%;
}

.projectHead .picture.right {
  //margin-right:-3.5%;
}

.projectHead .text {
  width:60%;
}

.projectHead .centerText {
  margin:0 auto;
  padding-bottom:24%;
  padding-top:6%;
  text-align:center;
  width:55%;
}

.image {
  text-align:center;
}

.image img {
  vertical-align:top;
  width:100%;
}

button {
  border:none;
  cursor:pointer;
}

.loader {
    -moz-animation:loader_rot 1.3s linear infinite;
    -o-animation:loader_rot 1.3s linear infinite;
    -webkit-animation:loader_rot 1.3s linear infinite;
    animation:loader_rot 1.3s linear infinite;
    height:80px;
    width:80px;
}

/* Center the slideshow */
.slideshowContainer {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(50, 50, 50, .5);
    z-index: 1;
}

.slideshow {
    position: relative;
    margin: 3% 15%;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}

.slideshowImg {
    width: 100%;
}

.slideshowLabel {
    position: absolute;
    background: rgba(0, 0, 0, .7);
    width: 96%;
    height: 6%;
    bottom: 0px;
    padding: 2%;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size:1.3em;
}

.slideshowTrigger {
    cursor: pointer;
}

.slideshowNext:hover {
    background: rgba(50, 50, 50, 0.1) url('../images/arrow-right.png');
    background-repeat: no-repeat;
    background-position: right;
}

.slideshowNext {
    background: rgba(50, 50, 50, 0);
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    top: 0px;
}

.slideshowPrevious:hover {
    background: rgba(50, 50, 50, 0.1) url('../images/arrow-left.png');
    background-repeat: no-repeat;
    background-position: left;
}

.slideshowPrevious {
    background: rgba(50, 50, 50, 0);
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@-moz-keyframes loader_rot {
  from {
    -moz-transform:rotate(0deg);
  }
  to {
    -moz-transform:rotate(360deg);
  }
}
@-webkit-keyframes loader_rot {
  from {
    -webkit-transform:rotate(0deg);
  }
  to {
    -webkit-transform:rotate(360deg);
  }
}
@keyframes loader_rot {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.view-enter,.view-leave {
  -moz-transition:all .5s;
  -o-transition:all .5s;
  -webkit-transition:all .5s;
  transition:all .5s;
}
.view-enter {
  left:20px;
  opacity:0;
  position:absolute;
  top:0;
}
.view-enter.view-enter-active {
  left:0;
  opacity:1;
}
.view-leave {
  left:0;
  opacity:1;
  position:absolute;
  top:0;
}
.view-leave.view-leave-active {
  left:-20px;
  opacity:0;
}

/* responsive rules */
@media (max-width: 1300px) {
    body {
      font-size:70%;
    }
    h1 {
      font-size:4.3em;
    }
    p {
      font-size:1.3em;
    }
    header {
      height:80px;
    }
    header .logo {
      margin-top:12px;
      width:200px;
    }
    header nav {
      margin-top:11px;
    }
    header nav ul li {
      margin-right:12px;
    }
    header nav ul li a {
      border-radius:23px;
      font-size: 1.3em;
      padding:10px 12px;
    }
    .wrap {
      padding:0 30px;
    }
    .paddRow .close {
      right:30px;
    }
}

@media (max-width: 1200px) {
    .projectHead .text {
        width: 50%;
    }
}

@media (max-width: 900px) {
    .contactForm {
      width:100%;
    }
}

@media (max-width: 850px) {
    body {
      font-size:65%;
      margin:0;
    }
    h1 {
      font-size:4em;
    }
    header {
      height:70px;
      font-size:12px;
    }
    header .logo {
      font-size: 2.5em;
      margin-top:20px;
      width:70px;
    }
    header nav {
      margin-top:8px;
    }
    header nav ul li {
      margin-right:5px;
    }
    header nav ul li a {
      border-radius:20px;
      font-size:1.1em;
      padding:8px;
    }
    .wrap {
      padding:0 15px;
    }
    .projectSummary .name {
      font-size:3em;
    }
    .paddRow {
      padding-bottom:30px;
    }
    .paddRow .head {
      font-size:3em;
      margin:30px 0;
    }
    .paddRow .close {
      right:20px;
      top:60px;
      width:30px;
    }
    .projectHead .picture {
      width:67%;
    }
    .projectHead .picture.right {
      margin-right:16.5%;
    }
    .projectHead .text {
      position:static;
      width:100%;
    }
    .projectHead .centerText {
      width:70%;
    }
    .view-enter,.view-leave {
      -webkit-transform:translate3d(0,0,0);
      transform:translate3d(0,0,0);
    }
    .projectSummary .keywords {
        display: none;
    }
}

@media (max-width: 640px) {

    header {
      height:50px;
      font-size:11px;
    }
    header .logo {
      font-size: 2em;
      margin-top:10px;
      width:70px;
      padding: 0px;
    }
    .mainContent {
        margin-top: 45px;
    }
}

@media (max-width: 570px) {
    body {
      font-size:45%;
      margin:0;
    }
    header {
      height:40px;
      font-size:9px;
    }
    header .logo {
      display: none;
    }
    header nav {
      margin-top:3px;
    }
    header nav ul li {
      margin-right:3px;
    }
    header nav ul li a {
      border-radius:20px;
      font-size:1.1em;
      padding:5px 14px;
    }
    #contactBtn {
      //display:none;
      margin-right: 14px;
    }
    nav ul {
        text-align: center;
    }
    .mainContent {
        margin-top: 45px;
    }
    .wrap {
      padding:0 10px;
    }
    .wrap .btn {
        margin: 10px;
    }
    .paddRow {
      padding-bottom:20px;
    }
    .paddRow .head {
      margin:20px 0;
    }
    .paddRow .close {
      right:10px;
      top:45px;
      width:20px;
    }
    .about .image {
      margin:10% auto;
      width:20%;
    }
    .about .abIcon {
      display:inline;
    }
    .projectHead .centerText {
      width:90%;
    }
    .projectSummary .description {
      font-size:0.4em;
    }
    .projectSummary .keywords {
        display: none;
    }
    .technologies a img {
        height: 20px;
    }
    .slideshowLabel {
        height: 25%;
    }
}

@media (max-width: 350px) {
    
    header {
      height:30px;
      font-size:8px;
    }
    header .logo {
      display: none;
    }
    .mainContent {
        margin-top: 35px;
    }
    .projectSummary .description {
      font-size:0.3em;
    }
    .projectSummary .keywords {
        display: none;
    }
    .technologies a img {
        height: 20px;
    }
    .wrap .btn {
        margin: 10px;
    }
}

@media (max-width: 310px) {
    body {
      font-size:35%;
      margin:0;
    }
    
    header {
      height:30px;
      font-size:6px;
    }
    header .logo {
      display: none;
    }
    .mainContent {
        margin-top: 35px;
    }
    .projectSummary .description {
      font-size:0.3em;
    }
    .projectSummary .keywords {
        display: none;
    }
    .technologies a img {
        height: 20px;
    }
    .wrap .btn {
        margin: 10px;
    }
}