<!DOCTYPE html>
<html lang="fr" ng-app="PWV2" ng-controller="IndexCtrl" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Personal Website" />
    <title data-ng-bind="title"></title>
    <meta name="description" content="Stephane-baudoux.fr | Personal Website"/>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!-- add styles -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    
    <!-- fac icons -->
    <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon.png"/>
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16"/>
    <link rel="manifest" href="manifest.json"/>
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5"/>
    <meta name="theme-color" content="#ffffff"/>
    
    <!-- add javascripts -->
    <script src="js/libs/jquery-2.1.1.min.js"></script>
    <script src="js/libs/angular.min.js"></script>
    <script src="js/libs/angular-resource.min.js"></script>
    <script src="js/libs/angular-route.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
	
	<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-97853886-1', 'auto');
	  ga('send', 'pageview');

	</script>
    
</head>
<body>
  
    <!-- main content -->
    <div class="mainContent">
        <div style="width:100%" ng-view ng-animate="{enter: 'view-enter', leave: 'view-leave'}"></div>
    </div>
    
    <!-- header content -->
    <header class="fixedHeader">
        <div class="wrap">
            <!-- logo -->
            <a class="logo" href="#!"><i class="fa fa-leaf"></i> Stéphane Baudoux</a>

            <!-- navigation menu -->
            <nav>
                <ul>
                    <li><a id="workBtn" href="#!/" ng-class="{activeSmall:part === 'projects'}" ng-bind="translation.menu.projects"></a></li>
                    <li><a id="privacyBtn" href="#!/resume" ng-class="{activeSmall:part === 'resume'}" ng-bind="translation.menu.resume"></a></li>
                    <li><a id="aboutBtn" href="#!/about" ng-class="{activeSmall:part === 'about'}" ng-bind="translation.menu.about"></a></li>
                    <li style="margin-right:0px"><a id="contactBtn" class="activeBtn" ng-click="goToContact()" ng-bind="translation.menu.contact"></a></li>
                </ul>
            </nav>
        </div>
    </header>
</body>
</html>
