<div style="width:100%">
    <div class="paddRow aboutRow">
        <div class="wrap">
            <div class="head" ng-bind="about.header.title"></div>
            <p ng-repeat="text in about.header.description">
                {{text}}   
            </p>
        </div>
    </div>

    <div style="background-color:#f5f5f5">
        <div class="wrap about">
            <div class="head" ng-bind="about.additionalInfo.title"></div>

            <section ng-repeat="info in about.additionalInfo.info">
                <div class="image" ng-class="{flRight : $index % 2 === 0, flLeft : $index % 2 !== 0}">
                    <img ng-src="images/{{info.image}}" class="abIcon">
                </div>
                <div class="txt" ng-class="{flLeft : $index % 2 === 0, flRight : $index % 2 !== 0}">
                    <h2 class="subHead" ng-bind="info.title"></h2>
                    <p ng-repeat="description in info.description">{{description}}</p>
                </div>
                <div style="clear:both"></div>
            </section>
            
        </div>
    </div>
    <ng-include src="'pages/footer.html'"></ng-include>
</div>