<footer>
    <div class="technologies">
        
        <a href="https://netbeans.org/">
            <img src="images/netbeans.png" height="40" alt="Built on NetBeans" title="Built on NetBeans"/>
        </a>
        
        <a href="https://angularjs.org/">
            <img src="https://raw.githubusercontent.com/angular/angular.js/master/images/logo/AngularJS-Shield.exports/AngularJS-Shield-small.png" height="40" alt="Powered with AngularJS" title="Powered with AngularJS"/>
        </a>
        
        <a href="http://en.wikipedia.org/wiki/JSON">
            <img src="images/json.png" height="40" alt="JavaScript Object Notation" title="JavaScript Object Notation"/>
        </a>
        
        <a href="http://www.w3.org/html/logo/">
            <img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3.png" height="40" alt="HTML5 Powered with CSS3 / Styling" title="HTML5 Powered with CSS3 / Styling">
        </a>
        
    </div>
</footer>