<div style="width:100%">
    
    <a ng-repeat="project in projectsList.projects" class="projectSummary" href="#!/project/{{project.link}}" ng-style="getProjectBackgroundStyle(project)">
        <div class="wrap">
            <div class="name">{{project.title}}
                <div class="description">
                    <p ng-repeat="description in project.description">{{description}}</p>
                </div>
                <div class="keywords">
                    <span ng-repeat="keyword in project.keywords">{{keyword}}</span>
                </div>
            </div>
            <img class="img" ng-src="images/{{project.icon}}"/>
        </div>
    </a>
    <ng-include src="'pages/footer.html'"></ng-include>
</div>
