<div style="width:100%">
    <div class="projectHead" ng-style="getProjectBackgroundStyle()">
        <div class="wrap">
            <div class="text left">
                <h1 ng-bind="project.name"></h1>
                <p ng-repeat="description in project.description">{{description}}</p>
                
                <a ng-repeat="link in project.links" class="btn" target="_blank" href="{{link.url}}" ng-style="getProjectLinkBackgroundStyle()">{{link.label}}</a>
            </div>
            
            
            <img ng-if="project.images" class="picture right slideshowTrigger" ng-click="showSlideShow()" ng-src="{{project.images.main}}" />
            
            <div style="clear:both"></div>
        </div>
    </div>
    
    <ng-include src="'pages/footer.html'"></ng-include>
</div>
      
<div class="slideshowContainer noselect" ng-show="enableSlideShow" ng-click="hideSlideShow($event)">
    <div class="slideshow">
        <img ng-style="getStyle(slideshowImage)" class="slideshowImg" ng-repeat="slideshowImage in project.images.slideshow" ng-src="{{slideshowImage.url}}"/>
        <div ng-if="project.images.legend === 'true'" class="slideshowLabel" ng-bind="project.images.slideshow[slideShowCounter].label"></div>
        <div class="slideshowNext" ng-click="nextSlideShow($event)"></div>
        <div class="slideshowPrevious" ng-click="previousSlideShow($event)"></div>
    </div>
</div>