<div style="width:100%">
    <div class="paddRow resumeRow">
        <div class="wrap">
            <div class="head" ng-bind="resume.header.title"></div>
            <p class="text" ng-repeat="text in resume.header.description">
                {{text}}   
            </p>
        </div>
    </div>
    
    <div style="background-color:#f5f5f5">
        <div class="wrap resume">

            <section ng-repeat="job in resume.jobs">
                <div class="image flRight">
                    <img ng-src="images/{{job.image}}" class="abIcon">
                </div>
                <div class="txt flLeft">
                    <h2 class="subHead" ng-bind="job.title"></h2>
                    <h3 class="subHead2" ng-bind="job.period"></h3>
                    <p class="description" ng-repeat="description in job.description">
                        {{description}}
                    </p>
                </div>
                <div style="clear:both"></div>
            </section>
            
        </div>
    </div>
    
    <ng-include src="'pages/footer.html'"></ng-include>
</div>